<div class="container" [formGroup]="form">
  <div class="content-wrapper">
    <div class="customer">
      <h3>基本資料</h3>
      <div class="basic-info">
        <div class="form-item">
          <div class="form-column">
            <label>姓名</label>
            <input type="text" formControlName="name" />
          </div>
          <div class="error-message">@if(name.hasError('required')){ 請輸入姓名 }</div>
        </div>
        <div class="form-item">
          <div class="form-column">
            <label>地址</label>
            <input type="text" formControlName="address" />
          </div>
          <div class="error-message">@if(address.hasError('required')){ 請輸入地址 }</div>
        </div>
        <div class="form-item">
          <div class="form-column">
            <label>電話</label>
            <input type="tel" formControlName="tel" />
          </div>
          <div class="error-message">@if(tel.hasError('required')){ 請輸入電話 }</div>
        </div>
      </div>
    </div>
    <div class="cart-info">
      <h3>購買項目</h3>
      @if (items.controls.length > 0) {
      <div formArrayName="items">
        <table>
          <tbody>
            @for (item of items.controls; track $index; let i = $index) {
            <tr [formGroupName]="i">
              <td class="id">{{ i + 1 }}</td>
              <td class="name">{{ item.get('productName')?.value }}</td>
              <td class="count">
                <input type="number" formControlName="quantity" min="1" />
              </td>
              <td class="price">{{ getSubtotal(i) | currency }}</td>
              <td class="remove">
                <button type="button" (click)="removeItem(i)">刪除</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
      } @else {
      <div class="cart-items">購物車內沒有商品</div>
      }
    </div>
  </div>
  <div class="summit">
    <button type="button" [disabled]="form.invalid || items.controls.length === 0">送出訂單</button>
  </div>
</div>
