<div class="container">
  <h3>基本資料</h3>
  <div class="basic-info">
    <div class="form-item">
      <div class="form-column">
        <label>姓名</label>
        <input type="text" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-column">
        <label>地址</label>
        <input type="text" />
      </div>
    </div>
    <div class="form-item">
      <div class="form-column">
        <label>電話</label>
        <input type="tel" />
      </div>
    </div>
  </div>
</div>
