:host {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    color: #005cbb;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &:hover {
      background-color: #005ccb33;
    }
    &.active {
      background-color: #005ccb1a;
    }

    &.cart-link {
      gap: 8px;
    }

    .cart-badge {
      background-color: #007bff;
      color: white;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      font-weight: bold;
    }
  }
}
